@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #9395D3;
}

#title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 96px;
    color: #FBF9FF;
    animation: fadeIn .2s linear forwards;
}

#sub {
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-style: italic;
    font-size: 24px;
    color: #FBF9FF;
    animation: fadeIn .2s linear forwards;
}

#wave {
    animation: fadeIn .2s linear forwards;
}

#nav {
    animation: fadeIn .2s linear forwards;
}

#github-img {
    transition: all 0.3s ease-out;
}

#github-img:hover {
    filter: invert(100%);
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3B7EE;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000807;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

li a:hover {
    color: #FBF9FF;
}

.active {
    color: #FBF9FF;
}

#download-link {
    text-decoration: none;
}

#windows-logo {
    vertical-align: middle;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 4px 4px 4px;
}

button {
    background: none;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid #B3B7EE;
    padding: 12px 40px 12px 40px;
    color: #FBF9FF;
    border-radius: 10px;
    transition: 0.40s;
    cursor: pointer;
}

button:hover {
    background: fixed;
    background-color: #B3B7EE;
}

#rte-version {
    color: rgba(251, 249, 255, .4)
}